CRAFT_APP_ID=YourAppIdHere
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY=SomeRandomString
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true


AWS_KEY_ID=YOUR_AWS_KEY_ID
AWS_SECRET=YOUR_AWS_SECRET
AWS_BUCKET=YOUR_BUCKET
AWS_REGION=YOUR_REGION
AWS_PATH=YOUR_PATH
ASSET_BASE_URL=https://your-bucket.s3.region.amazonaws.com/


PRIMARY_SITE_URL=https://example.ddev.site/
ASSET_BASE_URL=https://example.ddev.site/Uploads
ASSET_BASE_PATH=/path/to/uploads

DB_DRIVER=mysql
DB_SERVER=nauseous-nobel.cluster-cqm9xqkazq5n.ap-southeast-2.rds.amazonaws.com
DB_USER=P7xzrV73VBDLDxSF
DB_PASSWORD=db
DB_DATABASE=019c5698-033c-71e2-85c4-d6e84a4989b5
DB_PORT=3306
